GRPC_PORT=50051
POSTGRES_URL=postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
POSTGRES_MAX_CONN=5
POSTGRES_MIN_CONN=1
POSTGRES_AUTO_MIGRATE=true

#необходимо для подключения к user service
USER_CLIENT_DNS=user-service:50052
